**.DS_Store
**.classpath
**.project
**/target
**.zip
**.sha1
**.plugin.xml
**.devDb.h2.db
**.devDb.lock.db
**.devDb.trace.db
**file.txt
**/s3-plugin-temp
**/web-app/js/third-party
**/third-party
**/node_modules
**/log/
**.log
**/activemq-data/
**/mods
GrailsMelodyConfig.groovy
.gradle
dump.rdb
**/.gradletasknamecache
**/build/
**/cobertura.ser
**/.sonar
bower_components/
**/logs/
